*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: grey;
    color: white;
    position: relative;
}
.navbar .logo{
    font-size: 24px;
    font-weight: bold;
}
.search{
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    max-width: 300px;
    width: 100%;
}
.search input{
    border-radius: 8px;
    border: none;
    padding: 4px;
    outline: none;
}
.search input::placeholder{
    color: red;
}
.search i{
    margin-left: -23px;
    color: orange;
    font-size: 10px;
}
.navbarIcons{
    display: flex;
    gap: 20px;
}
.navbarIcons i{
    cursor: pointer;
}
.navbar::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: blue;
}